<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeWifi</string>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>wifi</string>
			<key>UIApplicationShortcutItemType</key>
			<string>foranewlife.3D-Touch-Quick-Action.Wifi</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Wifi</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeQr</string>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>qr</string>
			<key>UIApplicationShortcutItemType</key>
			<string>foranewlife.3D-Touch-Quick-Action.Qr</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>QR</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeRun</string>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>fast</string>
			<key>UIApplicationShortcutItemType</key>
			<string>foranewlife.3D-Touch-Quick-Action.Run</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Run</string>
		</dict>
	</array>
</dict>
</plist>
